/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

.outfit {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
::-webkit-scrollbar {
    display: none;
}
body {
    background: linear-gradient(
        135deg,
        rgb(255, 255, 255),
        rgb(231, 254, 255)
    );
    background-size: 400% 400%;
    animation: gradientShift 10s ease infinite;
}
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
        }
        100% {
        background-position: 0% 50%;
        }
    }

    .card {
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        background: linear-gradient(
        rgba(0, 174, 255, 0.75),
        rgb(191, 245, 255)
        );
        margin: 0 auto;
        box-sizing: border-box;
    }
.inputBox {
    position: relative;
}
.inputBox input {
    padding: 10px;
    width: 300px;
    margin: 25px 0;
    outline: none;
    border: none;
    background: transparent;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
}
.inputBox span {
    margin-top: 25px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
}
.inputBox input:valid~span,
.inputBox input:focus~span {
    transform: translateX(10em) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: white;
    letter-spacing: 0.2em;
    border: 2px;
    color: black;
}
.inputBox input:valid,
.inputBox input:focus {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    color: rgb(0, 0, 0);
}

.enter {
    height: 45px;
    width: 200px;
    margin: 25px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: transparent;
    transition: 0.3s;
}

.enter:hover {
    background-color: white;
    color: black;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    margin-top: 5rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-label {
    display: block;
    margin-bottom: .5rem;
  }
  
  .form-input {
    width: 100%;
    padding: .5rem;
    border-radius: .25rem;
    border: 1px solid #000000;
  }
  
  .form-button {
    padding: .5rem 1rem;
    border-radius: .25rem;
    border: none;
    background-color: #007bff;
    color: #fff;
  }
  
  .error-message {
    color: red;
    margin-top: 1rem;
  }
  
  .success-message {
    color: green;
    margin-top: 1rem;
  }

  .imgLogo2 {
    width: 300px;
    height: 160px;
    margin: 20px;
  }
  .title{
    font-size: 30px;
    font-weight: 700;
    color: black;
    padding: 10px;
  }